<div class="main-content flex-fill ">
	<header class="shadow-sm">
		<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white">
			<div class="ml-sm-2">
				<img
          src="https://raw.githubusercontent.com/nitinchouhan1010/Images/main/menu.png"
          class="cursor-pointer"
          id="sidebarControl "
          (click)="toggle()"

        />
				<!-- onclick="((document.getElementById('sidebar').style.display == 'none') ? document.getElementById('sidebar').style.display = 'block' : document.getElementById('sidebar').style.display = 'none') && ((document.getElementById('mainPage').style.display == 'block') ? document.getElementById('mainPage').style.display = 'flex' : document.getElementById('mainPage').style.display = 'block')" -->
			</div>
			<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0">
					<i
            class="fa-search fas font-size-12 position-relative text-black-50 search_img"
            style="left: 50px"
          ></i>
					<input
            class="form-control ml-sm-4 border-radius-20 font-size-14 text-primary bg-light-blue border-light-blue search_input"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>

					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item active">
							<a class="nav-link" href="#"><i class="far fa-bell fa-color font-size-20"></i></a>
						</li>
						<li class="nav-item user-profile">
							<a class="nav-link" href="#">
								<img src="https://raw.githubusercontent.com/nitinchouhan1010/Images/main/Image27.png" />
            </a>
						</li>
					</ul>
			</div>
		</nav>
	</header>
</div>