<div class="sidebar bg-black" id="sidebar">
  <div class="sidebar-head text-center ">
    <img src="assets/images/logo.png" />
  </div>
  <hr class="mt-0 bg-secondary " />
  <div class="sidebar-body sidebar-navs p-3">
    <ul
      class="nav nav-tabs d-flex flex-column border-0"
      id="myTab"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <a
          class="active border-radius-10 font-size-14 nav-link text-white py-3 d-flex"
          id="Dashboard-tab"
          data-toggle="tab"
          href="#Dashboard"
          role="tab"
          aria-controls="Dashboard"
          aria-selected="true"
          ><img src="assets/images/dashboard.png" /> Dashboard</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="border-radius-10 font-size-14 nav-link text-white py-3 d-flex"
          id="Company-tab"
          data-toggle="tab"
          href="#Company"
          role="tab"
          aria-controls="Company"
          aria-selected="false"
          ><img src="assets/images/identification.png" /> Company Profile</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="border-radius-10 font-size-14 nav-link text-white py-3 d-flex"
          id="Subscription-tab"
          data-toggle="tab"
          href="#Subscription"
          role="tab"
          aria-controls="Subscription"
          aria-selected="false"
          ><img src="assets/images/desktop.png" /> Subscription/Management</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="border-radius-10 font-size-14 nav-link text-white py-3 d-flex"
          id="Inventory-tab"
          data-toggle="tab"
          href="#Inventory"
          role="tab"
          aria-controls="Inventory"
          aria-selected="false"
          ><img src="assets/images/shipping.png" /> Inventory</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="border-radius-10 font-size-14 nav-link text-white py-3 d-flex"
          id="Tickets-tab"
          data-toggle="tab"
          href="#Tickets"
          role="tab"
          aria-controls="Tickets"
          aria-selected="false"
          ><img src="assets/images/voucher.png" /> Tickets</a
        >
      </li>
    </ul>
  </div>
</div>
